.grid {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	grid-template-rows: 32px 1fr;

	width: 100%;
	height: 100%;
	position: relative;
}

@media (max-width: calc(theme(screens.md)) - 1) {
	.grid {
		grid-template-columns: 100%;
		grid-template-rows: 32px 1fr 128px;
	}
}

.grid > div {
	min-width: 0;
	min-height: 0;
	width: 100%;
	height: 100%;
}

.grid > div:last-child > div {
	width: 100%;
	height: 100%;
}
