.grid {
	display: grid;
	grid-template-columns: auto 1fr;


	max-width: 600px;
	width: 100%;
	height: min-content;
	gap: 32px;
}

@media (max-width: 767px) {
	.grid {
		grid-template-columns: 1fr;
		gap: 8px;
	}
}