.main {
	display: grid;
	grid-template-rows: 0px 1fr 0px;
	grid-template-columns: 1fr;
	transition:
		grid-template-rows var(--duration-transition),
		background-color var(--duration-transition);
	gap: 16px;

	width: 100%;
	height: 100%;

	&.open {
		grid-template-rows: 120px 1fr 45px;
	}
}
