@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--color-back: var(--color-slate-900);
	--color-back-light: var(--color-slate-700);

	--color-primary-dark: var(--color-green-700);
	--color-primary: var(--color-green-300);

	--color-type: var(--color-slate-100);
	--color-type-dark: var(--color-slate-300);

	--duration-transition: 0.5s;
}

@layer theme {
	@media (prefers-reduced-motion) {
		:root {
			--duration-transition: 0s;
		}
	}
}

@layer base {
	html,
	body {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	}
}
