.root {
	--transition-time: .5s;
	--border-transition-time: .2s;
	--border-thickness: 4px;
	--length: min(min(100vh, 100vw), calc(128px + 400px));
	--spacing: 64px;
	--def-left: calc(100vw - var(--length) - var(--spacing));
}

.square {
	width: var(--length);
	height: var(--length);

	position: absolute;
	top: calc(50% - var(--length)/2);

	left: calc(100% - var(--length) - var(--spacing));
	transition: left var(--transition-time);

	&.flip {
		left: var(--spacing);
	}

	--extension: 50px;
	--rot-angle: 30deg;

	.up_right, .down_right, .up_left, .down_left {
		width: calc(50% + var(--extension));
		height: 50%;
		position: absolute;
		transition: transform var(--transition-time), border-top var(--border-transition-time), border-bottom var(--border-transition-time);
	}

	.up_right {
		left: 50%;
		top: 0;

		transform-origin: bottom left;
		transform: rotate(calc(var(--rot-angle) * -1));

		border-bottom: var(--border-thickness) solid white;
	}
	
	.down_right {
		left: 50%;
		top: 50%;
		
		transform-origin: top left;
		transform: rotate(var(--rot-angle));
		border-top: var(--border-thickness) solid white;
	}
	
	.up_left {
		right: 50%;
		top: 0;

		transform-origin: bottom right;
	}

	.down_left {
		right: 50%;
		top: 50%;

		transform-origin: top right;
	}

	&.flip {
		.up_right, .down_right {
			transform: rotate(0deg);
		}

		.up_right {
			border-bottom: 0 solid white;
		}

		.down_right {
			border-top: 0 solid white;
		}

		.up_left {
			transform: rotate(var(--rot-angle));
			border-bottom: var(--border-thickness) solid white;
		}

		.down_left {
			transform: rotate(calc(var(--rot-angle) * -1));
			border-top: var(--border-thickness) solid white;
		}
	}
}

.grad {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;

	--bg: theme('backgroundColor.slate.900');

	background: conic-gradient(
		var(--bg) 45deg, transparent 45deg,
		transparent 135deg, var(--bg) 135deg,
		var(--bg) 270deg, transparent 270deg,
		transparent 270deg, var(--bg) 270deg
	);

	transition: background var(--transition-time);
	
	&.flip {
		background: conic-gradient(
			var(--bg) 90deg, transparent 90deg,
			transparent 90deg, var(--bg) 90deg,
			var(--bg) 225deg, transparent 225deg,
			transparent 315deg, var(--bg) 315deg
		);
	}
}