.root {
	--web-time: .5s;
	--border-transition-time: .2s;
	--border-thickness: 4px;
	--length: min(min(100vh, 100vw), calc(128px + 400px));
	--spacing: 64px;
	--def-left: calc(100vw - var(--length) - var(--spacing));
}

.square {
	width: var(--length);
	height: var(--length);

	position: absolute;
	top: calc(50% - var(--length)/2);

	left: calc(100% - var(--length) - var(--spacing));
	transition: left var(--web-time), opacity var(--web-time);

	--extension: 50px;
	--box-angle: 28deg;

	.up_right, .down_right {
		--b-len: calc(var(--length)/2 + var(--extension));
		width: var(--b-len);
		height: var(--b-len);

		position: absolute;
		left: 50%;

		transition: 
			transform var(--web-time), 
			background var(--transition-time), 
			border-top var(--border-transition-time), 
			border-bottom var(--border-transition-time), 
			border-left var(--border-transition-time);
	}

	.up_right {
		bottom: 50%;

		transform-origin: bottom left;
		
		:global(.main.open) & {
			transform: rotate(calc(var(--box-angle) * -1 + var(--compensation, 0deg)));

			border-left: var(--border-thickness) solid white;
			border-bottom: var(--border-thickness) solid white;
			box-shadow: black 0px 25px 20px -20px;
		}
	}
	
	.down_right {
		top: 50%;
		
		transform-origin: top left;
		:global(.main.open) & {
			transform: rotate(calc(var(--box-angle) + var(--compensation, 0deg)));

			border-left: var(--border-thickness) solid white;
			border-top: var(--border-thickness) solid white;
			box-shadow: black 0px -25px 20px -20px;
		}
	}
}

.web_links {
	height: 40px;
	display: inline-block;
	position: absolute;

	top: calc(50% - 20px);
	left: 0;

	transform-origin: center left;

	transform: rotate(var(--rot-angle, 0)) translate(150px, 0px);

	transition: transform var(--web-time);
}