.transformed {
	--width: 100px;
	--height: 50px;
	--translate-amount: 50px;
	position: absolute;
	width: var(--width);
	height: var(--height);
	left: calc(50% - var(--width)/2);
	top: calc(50% - var(--height)/2);
	transform: rotate(var(--rot)) translate(calc((var(--width)/2 + var(--translate-amount)) * -1), 0);
	transform-origin: center;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
}

.main {
	perspective: 1000px;
}

.nav {
	--wide: 100vh;
	--other: 100vw;
	--nav-oversize: 500px;
	--nav-size: calc(var(--wide) + var(--nav-oversize));

	--item-width: 200px;
	--item-height: 70px;
	--item-margin: 50px;

	--center-margin: 50px;


	width: var(--nav-size);
	height: var(--nav-size);

	position: absolute;
	top: calc(var(--wide)/2 - var(--nav-size)/2);
	right: calc((600px + (var(--other) - var(--wide)) * 0.2) * -1);

	transform-origin: left;
	transform: rotateY(25deg);
}

.nav_container {
	width: var(--nav-size);
	height: var(--nav-size);

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	transform-origin: center;
	transform: rotateZ(var(--nav-rot));

	transition: transform .5s;
}

.nav_link_container {
	
	position: absolute;
	width: var(--item-width);
	height: var(--item-height);
	left: calc(50% - var(--item-width)/2);
	top: calc(50% - var(--item-height)/2);
	transform: rotate(var(--item-rot)) translate(calc((var(--nav-size)/2 - var(--item-width)/2 - var(--item-margin)) * -1), 0);
	transform-origin: center;

	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.nav_center {
	--center-size: calc(var(--nav-size) - var(--item-width)*2 - var(--item-margin)*2 - var(--center-margin)*2);

	width: var(--center-size);
	height: var(--center-size);
	border-radius: 100%;
	color: rgba(255, 255, 255, .4);


	svg {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}